body {
  background-color: antiquewhite;
}

.weather-app-wrapper {
  border: 3px solid #dadde1;
  border-radius: 10px;
  background-color: aliceblue;
  padding: 20px;
  margin: 30px auto;
  max-width: 600px;
}

h1 {
  color: blueviolet;
  margin: 0 0 30px;
  padding: 15px 20px 0 0;
}

.search-form {
  color: blue;
}
ul {
  margin: 0 0 8px;
  padding: 0;
}

li {
  font-size: 16px;
  font-weight: 150px;
  line-height: 19px;
  line-height: 1;
  list-style: none;
  text-transform: capitalize;
}
.weather-temperature strong {
  font-size: 64px;
  font-weight: 400px;
  color: black;
  line-height: 1;
}

.weather-temperature .active {
  color: black;
  cursor: default;
  text-decoration: none;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
